/* Reset some default styles */

  
  body {
    font-family: 'Arial', sans-serif;
background-image: url(https://img.freepik.com/premium-photo/book-table-library-with-row-books-table_865967-52934.jpg);    
background-size: 1320px 700px;
  }
  header {
    background-color: #693d257a;
    color: #fff;
    padding: 10px 0;
  }
  
  nav{
    text-align: center;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
  }
  
  h1 {
    text-align: center;
    color: #693d25;
    margin-top: 50px;
  }
  
  
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .coffee-item {
      flex-basis: calc(50% - 40px);
    }
  }
  input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin-top: 20%;
    margin-left: 38%;
  }